.custom_energy_card_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.custom_energy_card {
    &_content {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border: 1px solid #000;
        color: #000;
        background-color: #00000033;
        line-height: 1;
        & img {
            margin-right: 0.83vw;
        }
        & span {
            &:nth-of-type(1) {
                font-size: 0.83vw;
                line-height: 1;
            }
            &:nth-of-type(2) {
                margin: 0 0.83vw;
                font-size: 1.56vw;
                line-height: 1;
            }
            &:nth-of-type(3) {
                font-size: 0.625vw;
                margin-top: 0.7vw;
                line-height: 1;
            }
        }
    }
}